In [8]:
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
import time

In [70]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get('https://www.olx.in/')

In [71]:
car_ele=driver.find_element_by_xpath('//a[@class="_2fitb"]')
car_ele.click()

In [72]:
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import NoSuchElementException
i=1
car_url=[]
while i<= 40:
    try:
        button = driver.find_element_by_xpath('//div[@class="JbJAl"]')
        driver.implicitly_wait(10)
        ActionChains(driver).move_to_element(button).click(button).perform()
        i+=1
    except NoSuchElementException as e:
        print("Exception Raised", e)
        break

Exception Raised Message: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@class="JbJAl"]"}
  (Session info: chrome=93.0.4577.82)

In [73]:
car_url_tag=driver.find_elements_by_xpath('//li[@class="EIR5N"]//a')
for tag in car_url_tag:
    car_url.append(tag.get_attribute('href'))
print(len(car_url))

500

In [174]:
brand=[]
man_year=[]
model=[]
variant=[]
fuel=[]
km_driven=[]
transmission=[]
owner_count=[]
location=[]
price=[]

for url in car_url:
    driver.get(url)
    try:
        model_ele=driver.find_element_by_xpath('//div[@class="_35xN1"]')
        str=model_ele.text
        x=len(str)
        for i in range(x):
            if (str[i]==" "):
                brand.append(str[:i])
                break
        model.append(str[:(x-6)])
        man_year.append(str[-5:-1])
    except NoSuchElementException:
        continue
    
    try:
        variant_ele=driver.find_element_by_xpath('//div[@class="_3tLee"]')
        variant.append(variant_ele.text)
    except NoSuchElementException:
        variant.append(None)
    
    try:
        info_ele=driver.find_elements_by_xpath('//div[@class="_3qDp0"]')
        fuel.append(info_ele[0].text)
        str=info_ele[1].text
        x=len(str)
        km_driven.append(str[:(x-3)])
        transmission.append(info_ele[2].text)
    except NoSuchElementException:
        fuel.append(None)
        km_driven.append(None)
        transmission.append(None)
    except IndexError:
        fuel.append(None)
        km_driven.append(None)
        transmission.append(None)

    try:
        owner_info_ele=driver.find_elements_by_xpath('//div[@class="_1gasz"]')
        str=owner_info_ele[0].text
        owner_count.append(str[0])
        address=owner_info_ele[1].text
        for i in range(len(address)):
            if address[i]==' ':
                x=i
        location.append(address[x+1:])
    except NoSuchElementException:
        owner_count.append(None)
        location.append(None)

    try:
        price_ele=driver.find_element_by_xpath('//div[@class="_3FkyT"]')
        str=price_ele.text
        price.append(str[2:])
    except NoSuchElementException:
        price.append(None)
    
olx=pd.DataFrame({'Brand':(brand),
                  'Model':(model),
                  'Manufacturing Year':(man_year),
                 'Variant':(variant),
                 'Fuel':(fuel),
                 'KM Driven':(km_driven),
                 'Transmission':(transmission),
                 'Number of Owners':(owner_count),
                 'Location':(location),
                 'Price':(price)})
olx

,Brand,Model,Manufacturing Year,Variant,Fuel,KM Driven,Transmission,Number of Owners,Location,Price
0,Porsche,Porsche Cayenne,2013,S Diesel,DIESEL,128000.0,AUTOMATIC,2,Coimbatore,"40,00,000"
1,Honda,Honda Wr-V,2019,i-VTEC VX,PETROL,26503.0,MANUAL,1,Delhi,"8,25,300"
2,Hyundai,Hyundai Elite I20,2017,Asta Option,DIESEL,29417.0,MANUAL,1,Kolkata,"5,59,991"
3,Skoda,Skoda Rapid,2015,2011-2013 Ultima 1.6 TDI Elegance,DIESEL,10000,MANUAL,F,Sadabad,"5,00,000"
4,Maruti,Maruti Suzuki Zen Estilo,2007,Zen Estilo LXI,CNG,90000,MANUAL,S,Pune,"1,25,000"
...,...,...,...,...,...,...,...,...,...,...
481,Maruti,Maruti Suzuki Alto,2012,LXi BS-IV,PETROL,"67,000",AUTOMATIC,2,Biswan,"1,90,000"
482,Chevrolet,Chevrolet Beat,2010,LT Petrol,CNG & HYBRIDS,"68,000",MANUAL,1,Modinagar,"1,30,000"
483,Renault,Renault Triber,2021,RXT,PETROL,"6,000",MANUAL,1,Athni,"7,20,000"
484,Hyundai,Hyundai I20,2010,1.2 Asta Option,CNG & HYBRIDS,94000.0,MANUAL,3,Delhi,"2,15,000"
485,Honda,Honda City,2016,2014-2015 i VTEC SV,PETROL,51000.0,MANUAL,1,Pune,"6,80,000"

In [175]:
olx.isna().sum()

Brand                 0
Model                 0
Manufacturing Year    0
Variant               0
Fuel                  0
KM Driven             0
Transmission          0
Number of Owners      0
Location              0
Price                 0
dtype: int64

In [176]:
olx['Source']='Olx'

In [177]:
olx.head()

,Brand,Model,Manufacturing Year,Variant,Fuel,KM Driven,Transmission,Number of Owners,Location,Price,Source
0,Porsche,Porsche Cayenne,2013,S Diesel,DIESEL,128000.0,AUTOMATIC,2,Coimbatore,"40,00,000",Olx
1,Honda,Honda Wr-V,2019,i-VTEC VX,PETROL,26503.0,MANUAL,1,Delhi,"8,25,300",Olx
2,Hyundai,Hyundai Elite I20,2017,Asta Option,DIESEL,29417.0,MANUAL,1,Kolkata,"5,59,991",Olx
3,Skoda,Skoda Rapid,2015,2011-2013 Ultima 1.6 TDI Elegance,DIESEL,10000,MANUAL,F,Sadabad,"5,00,000",Olx
4,Maruti,Maruti Suzuki Zen Estilo,2007,Zen Estilo LXI,CNG,90000,MANUAL,S,Pune,"1,25,000",Olx

In [188]:
olx.to_csv('olx.csv')